<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8Nqh-YcAO1bxWbvjWhSgGE5R4rN5S6HY</string>
	<key>GCM_SENDER_ID</key>
	<string>44502753426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appFlutterDb4</string>
	<key>PROJECT_ID</key>
	<string>amst-flutter-db-4</string>
	<key>STORAGE_BUCKET</key>
	<string>amst-flutter-db-4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44502753426:ios:e65798879e4525d344064b</string>
	<key>DATABASE_URL</key>
	<string>https://amst-flutter-db-4-default-rtdb.firebaseio.com</string>
</dict>
</plist>